In [ ]:
import pandas as pd
import numpy as np
import datetime as dt

# TRANSACTION

In [ ]:
trans = pd.read_excel('/content/KPMG_VI_New_raw_data_update_final.xlsx', sheet_name = 1)

In [ ]:
trans.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701.0
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145.0
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226.0

In [ ]:
trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  int64
 1   product_id               20000 non-null  int64
 2   customer_id              20000 non-null  int64
 3   transaction_date         20000 non-null  datetime64[ns]
 4   online_order             19640 non-null  float64
 5   order_status             20000 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               20000 non-null  float64
 11  standard_cost            19803 non-null  float64
 12  product_first_sold_date  19803 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(5)
memory usage: 2.0+ MB

In [ ]:
#fill the null values in online_order
trans['online_order'] = trans['online_order'].bfill(axis='rows')

In [ ]:
trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  int64
 1   product_id               20000 non-null  int64
 2   customer_id              20000 non-null  int64
 3   transaction_date         20000 non-null  datetime64[ns]
 4   online_order             20000 non-null  float64
 5   order_status             20000 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               20000 non-null  float64
 11  standard_cost            19803 non-null  float64
 12  product_first_sold_date  19803 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(5)
memory usage: 2.0+ MB

In [ ]:
#fill the null values in brand
trans['brand'] = trans['brand'].bfill(axis='rows')

In [ ]:
#fill the null values in product_line
trans['product_line'] = trans['product_line'].bfill(axis='rows')

In [ ]:
#fill the null values in product_class
trans['product_class'] = trans['product_class'].bfill(axis='rows')

In [ ]:
#fill the null values in product_size
trans['product_size'] = trans['product_size'].bfill(axis='rows')

In [ ]:
#fill the null values in standard_cost
mean_cost = trans['standard_cost'].mean()
trans['standard_cost'] = trans['standard_cost'].fillna(value = mean_cost)

In [ ]:
#change the format data in product_first_sold_date
trans['product_first_sold_date'] = pd.to_timedelta(trans['product_first_sold_date'], unit='D',) + pd.to_datetime('1899-12-30')

In [ ]:
trans.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,2012-12-02
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,2014-03-03
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,1999-07-20
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,1998-12-16
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,2015-08-10

In [ ]:
#fill the null values in product_first_sold_date
trans['product_first_sold_date'] = trans['product_first_sold_date'].bfill(axis='rows')

In [ ]:
trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  int64
 1   product_id               20000 non-null  int64
 2   customer_id              20000 non-null  int64
 3   transaction_date         20000 non-null  datetime64[ns]
 4   online_order             20000 non-null  float64
 5   order_status             20000 non-null  object
 6   brand                    20000 non-null  object
 7   product_line             20000 non-null  object
 8   product_class            20000 non-null  object
 9   product_size             20000 non-null  object
 10  list_price               20000 non-null  float64
 11  standard_cost            20000 non-null  float64
 12  product_first_sold_date  20000 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(3), int64(3), object(5)
memory usage: 2.0+ MB

In [ ]:
from pandas.core.window.expanding import Axis
hasil = pd.DataFrame(data=trans)
file_name = "Transaction.csv"
hasil.to_csv(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

#NEW CUSTOMER LIST

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
nc_list = pd.read_excel('/content/KPMG_VI_New_raw_data_update_final.xlsx', sheet_name = 2)

<ipython-input-39-64dd74a1bac7>:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  nc_list = pd.read_excel('/content/KPMG_VI_New_raw_data_update_final.xlsx', sheet_name = 2)

In [ ]:
nc_list.head()

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,...,state,country,property_valuation,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Rank,Value
0,Chickie,Brister,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,...,QLD,Australia,6,0.58,0.725,0.90625,0.770312,1,1,1.718750
1,Morly,Genery,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,...,NSW,Australia,11,1.09,1.090,1.36250,1.158125,1,1,1.718750
2,Ardelis,Forrester,Female,10,1974-08-28,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,...,VIC,Australia,5,0.74,0.740,0.74000,0.740000,1,1,1.718750
3,Lucine,Stutt,Female,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,N,Yes,...,QLD,Australia,1,0.62,0.775,0.77500,0.775000,4,4,1.703125
4,Melinda,Hadlee,Female,34,1965-09-21,Financial Analyst,Financial Services,Affluent Customer,N,No,...,NSW,Australia,9,0.92,0.920,1.15000,1.150000,4,4,1.703125

In [ ]:
nc_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 23 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   first_name                           1000 non-null   object
 1   last_name                            971 non-null    object
 2   gender                               1000 non-null   object
 3   past_3_years_bike_related_purchases  1000 non-null   int64
 4   DOB                                  983 non-null    datetime64[ns]
 5   job_title                            894 non-null    object
 6   job_industry_category                835 non-null    object
 7   wealth_segment                       1000 non-null   object
 8   deceased_indicator                   1000 non-null   object
 9   owns_car                             1000 non-null   object
 10  tenure                               1000 non-null   int64
 11  address                              1000 non-null   object
 12  postcode                             1000 non-null   int64
 13  state                                1000 non-null   object
 14  country                              1000 non-null   object
 15  property_valuation                   1000 non-null   int64
 16  Unnamed: 16                          1000 non-null   float64
 17  Unnamed: 17                          1000 non-null   float64
 18  Unnamed: 18                          1000 non-null   float64
 19  Unnamed: 19                          1000 non-null   float64
 20  Unnamed: 20                          1000 non-null   int64
 21  Rank                                 1000 non-null   int64
 22  Value                                1000 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(6), object(11)
memory usage: 179.8+ KB

In [ ]:
nc_list.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool

In [ ]:
#Dropping the unnamed column
nc_list = nc_list.drop(['Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20'], axis=1)

In [ ]:
#fill the null values in last_name
nc_list['last_name'] = nc_list['last_name'].fillna(value = nc_list['first_name'])

In [ ]:
#check the DOB
from pandas.api.types import is_datetime64_any_dtype
is_column_datetime_type = is_datetime64_any_dtype(nc_list['DOB'])

In [ ]:
#fill the null values in DOB
nc_list['DOB'] = nc_list['DOB'].fillna(np.random.choice(nc_list['DOB']))

In [ ]:
#fill the null values in job_title
nc_list['job_title'] = nc_list['job_title'].bfill(axis='rows')

In [ ]:
#fill the null values in job_industry_category
nc_list['job_industry_category'] = nc_list['job_industry_category'].bfill(axis='rows')

In [ ]:
#check the unique values of gender
np.unique(nc_list['gender'])

array(['F', 'M', 'U'], dtype=object)

In [ ]:
#replace with new gender
nc_list['gender'] = nc_list['gender'].replace(['Male', 'Female'],['M', 'F'])

In [ ]:
#check the unique values of state
np.unique(nc_list['state'])

array(['NSW', 'QLD', 'VIC'], dtype=object)

In [ ]:
#rounding the value in Value
nc_list['Value'] = nc_list['Value'].round(2)

In [ ]:
nc_list.tail()

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,address,postcode,state,country,property_valuation,Rank,Value
995,Ferdinand,Romanetti,M,60,1959-10-07,Paralegal,Financial Services,Affluent Customer,N,No,9,2 Sloan Way,2200,NSW,Australia,7,996,0.37
996,Burk,Wortley,M,22,2001-10-17,Senior Sales Associate,Health,Mass Customer,N,No,6,04 Union Crossing,2196,NSW,Australia,10,997,0.36
997,Melloney,Temby,F,17,1954-10-05,Budget/Accounting Analyst IV,Financial Services,Affluent Customer,N,Yes,15,33475 Fair Oaks Junction,4702,QLD,Australia,2,997,0.36
998,Dickie,Cubbini,M,30,1952-12-17,Financial Advisor,Financial Services,Mass Customer,N,Yes,19,57666 Victoria Way,4215,QLD,Australia,2,997,0.36
999,Sylas,Duffill,M,56,1955-10-02,Staff Accountant IV,Property,Mass Customer,N,Yes,14,21875 Grover Drive,2010,NSW,Australia,9,1000,0.34

In [ ]:
nc_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   first_name                           1000 non-null   object
 1   last_name                            1000 non-null   object
 2   gender                               1000 non-null   object
 3   past_3_years_bike_related_purchases  1000 non-null   int64
 4   DOB                                  1000 non-null   datetime64[ns]
 5   job_title                            1000 non-null   object
 6   job_industry_category                1000 non-null   object
 7   wealth_segment                       1000 non-null   object
 8   deceased_indicator                   1000 non-null   object
 9   owns_car                             1000 non-null   object
 10  tenure                               1000 non-null   int64
 11  address                              1000 non-null   object
 12  postcode                             1000 non-null   int64
 13  state                                1000 non-null   object
 14  country                              1000 non-null   object
 15  property_valuation                   1000 non-null   int64
 16  Rank                                 1000 non-null   int64
 17  Value                                1000 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(5), object(11)
memory usage: 140.8+ KB

In [ ]:
from pandas.core.window.expanding import Axis
hasil = pd.DataFrame(data=nc_list)
file_name = "NewCustomer.csv"
hasil.to_csv(file_name)
print('DataFrame is written to CSV File successfully.')

DataFrame is written to CSV File successfully.

#Customer Demographic

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
CustDemo = pd.read_excel('/content/KPMG_VI_New_raw_data_update_final.xlsx', sheet_name = 3)

<ipython-input-38-a5ec74a9a099>:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  CustDemo = pd.read_excel('/content/KPMG_VI_New_raw_data_update_final.xlsx', sheet_name = 3)

In [ ]:
CustDemo.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
0,1,Laraine,Medendorp,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11.0
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16.0
2,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,N,2018-02-01 00:00:00,Yes,15.0
3,4,Talbot,NaN,Male,33,1961-10-03,NaN,IT,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,7.0
4,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,NaN,Affluent Customer,N,NIL,Yes,8.0

In [ ]:
CustDemo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   int64
 1   first_name                           4000 non-null   object
 2   last_name                            3875 non-null   object
 3   gender                               4000 non-null   object
 4   past_3_years_bike_related_purchases  4000 non-null   int64
 5   DOB                                  3913 non-null   datetime64[ns]
 6   job_title                            3494 non-null   object
 7   job_industry_category                3344 non-null   object
 8   wealth_segment                       4000 non-null   object
 9   deceased_indicator                   4000 non-null   object
 10  default                              3698 non-null   object
 11  owns_car                             4000 non-null   object
 12  tenure                               3913 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(9)
memory usage: 406.4+ KB

In [ ]:
#drop default column because it's unnecessary
CustDemo = CustDemo.drop('default', axis = 1)

In [ ]:
CustDemo.isnull().sum()

customer_id                             0
first_name                              0
last_name                               0
gender                                  0
past_3_years_bike_related_purchases     0
DOB                                    87
job_title                               0
job_industry_category                   1
wealth_segment                          0
deceased_indicator                      0
owns_car                                0
tenure                                 87
dtype: int64

In [ ]:
#check duplicated id
CustDemo.duplicated('customer_id')

0       False
1       False
2       False
3       False
4       False
        ...
3995    False
3996    False
3997    False
3998    False
3999    False
Length: 4000, dtype: bool

In [ ]:
#fill the null values in last_name
CustDemo['last_name'] = CustDemo['last_name'].fillna(value = CustDemo['first_name'])

In [ ]:
#fill the null values in job_title
CustDemo['job_title'] = CustDemo['job_title'].bfill(axis='rows')

In [ ]:
#fill the null values in job_industry_category
CustDemo['job_industry_category'] = CustDemo['job_industry_category'].bfill(axis='rows')

In [ ]:
#check the strange DOB
oldest = min(CustDemo['DOB'])
oldest

Timestamp('1843-12-21 00:00:00')

In [ ]:
#Drop the date
CustDemo = CustDemo.drop(CustDemo[CustDemo['DOB'] == '1843-12-21'].index)

In [ ]:
oldest1 = min(CustDemo['DOB'])
oldest1

Timestamp('1931-10-23 00:00:00')

In [ ]:
#fill the null values in DOB
CustDemo['DOB'] = CustDemo['DOB'].fillna(np.random.choice(CustDemo['DOB']))

In [ ]:
CustDemo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3999 entries, 0 to 3999
Data columns (total 12 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          3999 non-null   int64
 1   first_name                           3999 non-null   object
 2   last_name                            3999 non-null   object
 3   gender                               3999 non-null   object
 4   past_3_years_bike_related_purchases  3999 non-null   int64
 5   DOB                                  3999 non-null   datetime64[ns]
 6   job_title                            3999 non-null   object
 7   job_industry_category                3998 non-null   object
 8   wealth_segment                       3999 non-null   object
 9   deceased_indicator                   3999 non-null   object
 10  owns_car                             3999 non-null   object
 11  tenure                               3999 non-null   int64
dtypes: datetime64[ns](1), int64(3), object(8)
memory usage: 406.1+ KB

In [ ]:
#fill the null values in tenure
mean_ten = CustDemo['tenure'].mean()
CustDemo['tenure'] = CustDemo['tenure'].fillna(value = mean_ten)

In [ ]:
#change the tenure type to int
CustDemo['tenure'] = CustDemo['tenure'].astype(int)

In [ ]:
CustDemo.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure
0,1,Laraine,Medendorp,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,Yes,11
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,Yes,16
2,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,N,Yes,15
3,4,Talbot,Talbot,Male,33,1961-10-03,Senior Editor,IT,Mass Customer,N,No,7
4,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,Retail,Affluent Customer,N,Yes,8

In [ ]:
CustDemo['gender'].unique()

array(['F', 'M', 'U'], dtype=object)

In [ ]:
#replace with new gender
CustDemo['gender'] = CustDemo['gender'].replace(['Male', 'Female', 'Femal'],['M', 'F', 'F'])

In [ ]:
#replace with new value
CustDemo['owns_car'] = CustDemo['owns_car'].replace(['Yes', 'No'],['Y', 'N'])

In [ ]:
CustDemo.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure
0,1,Laraine,Medendorp,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,Y,11
1,2,Eli,Bockman,M,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,Y,16
2,3,Arlin,Dearle,M,61,1954-01-20,Recruiting Manager,Property,Mass Customer,N,Y,15
3,4,Talbot,Talbot,M,33,1961-10-03,Senior Editor,IT,Mass Customer,N,N,7
4,5,Sheila-kathryn,Calton,F,56,1977-05-13,Senior Editor,Retail,Affluent Customer,N,Y,8

In [ ]:
CustDemo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3999 entries, 0 to 3999
Data columns (total 12 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          3999 non-null   int64
 1   first_name                           3999 non-null   object
 2   last_name                            3999 non-null   object
 3   gender                               3999 non-null   object
 4   past_3_years_bike_related_purchases  3999 non-null   int64
 5   DOB                                  3999 non-null   datetime64[ns]
 6   job_title                            3999 non-null   object
 7   job_industry_category                3998 non-null   object
 8   wealth_segment                       3999 non-null   object
 9   deceased_indicator                   3999 non-null   object
 10  owns_car                             3999 non-null   object
 11  tenure                               3999 non-null   int64
dtypes: datetime64[ns](1), int64(3), object(8)
memory usage: 406.1+ KB

In [ ]:
from pandas.core.window.expanding import Axis
hasil = pd.DataFrame(data=CustDemo)
file_name = "CustomerDemographic.csv"
hasil.to_csv(file_name)
print('DataFrame is written to CSV File successfully.')

DataFrame is written to CSV File successfully.

#Customer Address

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
CustAdd = pd.read_excel('/content/KPMG_VI_New_raw_data_update_final.xlsx', sheet_name = 4)

In [ ]:
CustAdd.head()

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,4,0 Holy Cross Court,4211,QLD,Australia,9
3,5,17979 Del Mar Point,2448,New South Wales,Australia,4
4,6,9 Oakridge Court,3216,VIC,Australia,9

In [ ]:
CustAdd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   int64
 1   address             3999 non-null   object
 2   postcode            3999 non-null   int64
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   int64
dtypes: int64(3), object(3)
memory usage: 187.6+ KB

In [ ]:
CustAdd['customer_id'].is_unique

True

In [ ]:
CustAdd['state'].unique()

array(['New South Wales', 'QLD', 'VIC', 'NSW', 'Victoria'], dtype=object)

In [ ]:
#replace with new value
CustAdd['state'] = CustAdd['state'].replace(['New South Wales', 'Victoria'],['NSW', 'VIC'])

In [ ]:
CustAdd.head()

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,NSW,Australia,10
1,2,6 Meadow Vale Court,2153,NSW,Australia,10
2,4,0 Holy Cross Court,4211,QLD,Australia,9
3,5,17979 Del Mar Point,2448,NSW,Australia,4
4,6,9 Oakridge Court,3216,VIC,Australia,9

In [ ]:
from pandas.core.window.expanding import Axis
hasil = pd.DataFrame(data=CustAdd)
file_name = "CustomerAddress.csv"
hasil.to_csv(file_name)
print('DataFrame is written to CSV File successfully.')

DataFrame is written to CSV File successfully.